body
{
  font-family: 'Quicksand', cursive;
  background-image: url(grass.jpg);
  background-size: cover;
}

.header_div
  {
  background: rgb(157, 244, 164);
  color: #000000; 
  }

  .header_div p{
    font-family: 'Quicksand', sans-serif;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bolder;
  }
  .main_div button{
    font-family: 'Quicksand', sans-serif;
    margin-top: 30px;
    width: 130px;
    letter-spacing: 3px;
  }
  .copy_right_footer {
   position: fixed;
   color: rgb(0, 0, 0);
   bottom: 0;
   width: 100%;
   font-size: 18px;
   background-color: rgb(157, 244, 164);
   line-height: 3;
   text-align: center;
   text-shadow: 5px 5px 5px rgb(77, 77, 77);
}
